<mat-card
  fxLayout="column"
  fxLayout.gt-xs="row"
  fxLayoutAlign="space-around"
  fxLayoutGap="16px"
  *ngIf="film$ | async as film"
>
  <div fxFlex class="item-image-wrapper">
    <div
      class="item-image"
      [style.background-image]="'url(https://i.picsum.photos/id/10/100/50.jpg)'"
    ></div>
  </div>

  <div fxFlex>
    <mat-card-title>{{ film.title }}</mat-card-title>

    <mat-card-content>
      <ul class="card-content-list">
        <li>
          <div>Director: {{ film.director }}</div>
        </li>
        <li>
          <div>Producer: {{ film.producer }}</div>
        </li>
        <li>
          <div>Release Date: {{ film.release_date | date }}</div>
        </li>
      </ul>
    </mat-card-content>

    <mat-card-footer fxLayout="column">
      <div fxLayout="column">
        <h3>Characters:</h3>
        <mat-chip-list aria-label="Characters selection">
          <mat-chip
            class="pointer"
            color="primary"
            selected
            [routerLink]="['/characters', character.id]"
            *ngFor="let character of film.charactersCategoryNames"
            ><span class="pointer">{{ character.name }}</span></mat-chip
          >
          <mat-chip (click)="openDialog('Character')">...</mat-chip>
        </mat-chip-list>
      </div>

      <div fxLayout="column">
        <h3>Planets:</h3>
        <mat-chip-list aria-label="Planets selection">
          <mat-chip
            color="accent"
            selected
            [routerLink]="['/planets', planet.id]"
            *ngFor="let planet of film.planetsCategoryNames"
            ><span class="pointer">
              {{ planet.name }}
            </span></mat-chip
          >
          <mat-chip (click)="openDialog('Planet')">...</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-footer>
  </div>
</mat-card>
