<mat-card fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around">
  <div class="film-image-wrapper">
    <img class="film-image" src="https://i.picsum.photos/id/10/100/50.jpg" />
  </div>

  <div>
    <mat-card-title class="pointer">{{
      (film$ | async)?.title
    }}</mat-card-title>

    <mat-card-content>
      <ul class="card-content-list">
        <li>
          <div>Director: {{ (film$ | async)?.director }}</div>
        </li>
        <li>
          <div>Producer: {{ (film$ | async)?.producer }}</div>
        </li>
        <li>
          <div>Release Date: {{ (film$ | async)?.release_date | date }}</div>
        </li>
      </ul>
    </mat-card-content>
  </div>
</mat-card>
